httplib2>=0.11.1s
pydicom>=1.0.2
pillow>=5.1.0
pytest>=3.6.3
pyinstaller>=3.3.1
matplotlib>=2.2.2
sphinx>=1.7.7
sphinx-rtd-theme>=0.4.1
pywin32>=223
numpy>=1.16.4
opencv-python==4.1.0.25
exchangelib==1.12.5
cryptography==2.7